body,
html {
    padding: 0 !important;
    padding: 0;
    margin: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    height: auto
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

input[type=email],
input[type=password],
input[type=tel],
input[type=text] {
    border: 1px solid #e9e9e9;
    color: #1c1c1c;
    margin: 0 0 19px;
    min-height: 40px;
    padding: 0 20px
}

a {
    color: #231f20
}

.dropdown-menu {
    box-shadow: none
}

.dropdown-menu>li>a {
    white-space: inherit
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover {
    background: 0 0
}

body,
button,
input,
select,
textarea {
    line-height: 1.7;
    font-family: "Roboto", sans-serif;
    color: #231f20;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%
}

body {
    font-size: 14px;
    color: #231f20;
    overflow-x: hidden
}

header nav {
    font-family: "Roboto", sans-serif
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto", sans-serif;
    line-height: 1.4;
    font-weight: inherit
}

p {
    margin: 0 0 15px 0
}

ul {
    list-style: none outside
}

ol {
    list-style: decimal
}

ul.square {
    list-style: square outside
}

ul.disc {
    list-style: disc outside
}

ol.alpha {
    list-style: lower-alpha outside
}

.inline-list li {
    display: inline-block;
    margin-bottom: 0
}

table {
    width: 100%;
    margin-bottom: 1em;
    border-collapse: collapse;
    border-spacing: 0
}

.table-wrap {
    max-width: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch
}

th {
    font-weight: 500
}

td,
th {
    text-align: center;
    padding: 15px;
    border: 1px solid #ebebeb;
    color: #1c1c1c
}

.text-link,
a {
    color: #231f20;
    text-decoration: none;
    background: 0 0
}

button {
    overflow: visible
}

button[disabled],
html input[disabled] {
    cursor: default
}

img {
    border: 0 none;
    max-width: 100%;
    height: auto
}

svg:not(:root) {
    overflow: hidden
}

form {
    margin-bottom: 30px
}

button,
input,
select,
textarea {
    font-size: 1em
}

button,
input[type=email],
input[type=file],
input[type=number],
input[type=password],
input[type=search],
input[type=submit],
input[type=tel],
input[type=text],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none
}

fieldset,
input,
select,
textarea {
    border-radius: 0;
    max-width: 100%
}

legend {
    border: 0;
    padding: 0
}

optgroup {
    font-weight: 700
}

input {
    display: inline-block;
    width: auto
}

button,
input[type=submit] {
    cursor: pointer
}

input[type=email],
input[type=file],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
select,
textarea {
    border: 1px solid #ebebeb;
    padding: 0 110px 0 20px;
    width: 100%;
    max-width: 100%;
    display: block
}

input[type=checkbox],
input[type=radio] {
    display: inline;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 40px;
    position: absolute;
    background: 0 0;
    outline: 0;
    opacity: 0
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-position: right center;
    background-image: url("//bizweb.dktcdn.net/100/397/652/themes/809936/assets/ico-select-2.png?1614400355228");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-color: #fff !important;
    padding-right: 28px;
    text-indent: .01px;
    text-overflow: '';
    cursor: pointer
}

select::-ms-expand {
    display: none
}

label,
legend {
    display: block;
    font-weight: 400
}

input[type=radio]+label {
    font-weight: 400
}

label[for] {
    cursor: pointer
}

input[type=email],
input[type=file],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
textarea {
    color: red
}

.hidden {
    display: none
}

label {
    display: inline-block !important
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate
}

@media (max-width: 543px) {
    section.sidebar.left-content.col-lg-12 {
        padding: 0
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    .search.f-right {
        margin-right: 50px
    }
}

@media (max-width: 991px) {
    header>.container {
        position: relative
    }
    .menu-bar.hidden-md.hidden-lg {
        position: absolute;
        top: 40px;
        right: 15px;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        z-index: 1000
    }
    .logo {
        text-align: center;
        margin: 0 auto;
        float: none
    }
    header .logo a {
        display: inline-block;
        width: 180px;
        margin: 0 auto;
        text-align: left
    }
    header nav .nav-item {
        display: block;
        width: 100%;
        text-align: left;
        margin: 0
    }
    header nav .nav-item .dropdown-menu {
        display: none !important;
        position: static;
        border: none
    }
    header nav .nav-item.open a {
        background: none !important
    }
    header nav .nav-item.open>.dropdown-menu {
        display: block !important;
        margin: 0;
        padding: 0
    }
    header nav li.menu-line {
        display: none;
        border: none
    }
    header nav .nav-item>a {
        line-height: 20px;
        padding: 5px 15px 3px
    }
    header nav #nav-mobile .nav-item>.dropdown-menu {
        padding: 0 0 0 15px;
        position: static;
        width: 100%;
        float: none;
        border: none;
        padding-right: 7px
    }
    header nav .nav-item:hover>.dropdown-menu li.open>.dropdown-menu {
        display: block !important
    }
    .header-main {
        padding: 0;
        position: relative;
        height: 96px;
        z-index: 1
    }
}

@media (max-width: 991px) and (max-width: 991px) {
    .header-main {
        line-height: 96px
    }
}

@media (max-width: 991px) {
    #nav {
        padding-right: 0;
        display: none;
        padding-right: 0;
        padding: 10px 0;
        border: 1px solid #ebebeb;
        margin-bottom: 15px
    }
    #nav.open {
        display: block
    }
    #nav .nav-link>.fa {
        float: right;
        line-height: 22px;
        margin-right: -15px;
        width: 40px;
        text-align: center;
        transform: translateY(-5px);
        -webkit-transform: translateY(-5px);
        -moz-transform: translateY(-5px)
    }
}

@media (max-width: 991px) {
    .head_logo {
        display: block;
        float: left;
        width: 100%
    }
    .head_logo .logo {
        text-align: center;
        margin: 0 auto;
        height: 80px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        -os-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        z-index: 99
    }
    .head_logo .logo a {
        display: block;
        line-height: 80px
    }
    .head_logo .logo a img {
        margin-left: 0px !important
    }
}

@media (max-width: 543px) {
    .topbar ul.list-inline.f-right {
        float: left !important
    }
    .search.f-right {
        float: none;
        width: 100%
    }
}

@media (max-width: 543px) {
    .product-box .product-thumbnail>a img {
        height: auto !important
    }
}

@media (max-width: 430px) {
    .collection p.title-head-info {
        position: static
    }
    .collection h1.title-head {
        margin-bottom: 5px
    }
}

@media (max-width: 480px) {
    .product-tab .tab-link {
        margin-right: 10px
    }
}

@media (max-width: 375px) {
    .section_feed_form .content_owl .slide_item .testimonial-content-gallery .testimonial-item .content {
        padding: 0px
    }
    .content-blog-index .myblog .image-blog-left {
        width: 100%
    }
    .sodiachi .btn.btn-50,
    .sodiachi input.btn-50[type=submit] {
        width: 100%;
        margin-bottom: 10px
    }
}

@media (max-width: 768px) {
    .quick-view {
        display: none !important
    }
}

@media (max-width: 991px) {
    .nav-mobile-button {
        top: 48px;
        width: 50px;
        left: 15px;
        position: absolute;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        z-index: 1000
    }
    .nav-mobile-button a {
        color: #333
    }
    .nav-mobile-button a .fa {
        font-size: 26px;
        height: 28px
    }
}

@media (max-width: 767px) {
    i.fa.fa-bars.fa-2x {
        font-size: 26px;
        height: 28px
    }
    header .logo a {
        width: 180px
    }
}

@media (max-width: 375px) {
    .content-blog-index .myblog .content-right-blog {
        width: 100%;
        display: block;
        float: left;
        padding-top: 10px;
        margin-left: 0px
    }
}

@media (max-width: 424px) {
    #product_comeback button.slick-prev.slick-arrow,
    #product_comeback button.slick-next.slick-arrow {
        display: none !important
    }
}

@media (max-width: 543px) and (min-width: 480px) {
    .section_feed_form .content_owl .subcribe .footer_top_title h4 {
        text-align: center
    }
}

@media (max-width: 767px) {
    .item_blog_big {
        margin-bottom: 25px
    }
    .footer.footer .icon_none_first a i.fa {
        display: none
    }
}

@media (min-width: 992px) {
    #open-filters {
        display: none
    }
}

@media (max-width: 991px) {
    #open-filters {
        color: #fff;
        background: #ef4339;
        position: fixed;
        right: 0;
        top: 35% !important;
        padding: 4px 10px;
        cursor: pointer;
        z-index: 9999;
        font-size: 18px;
        -webkit-transition: all 0.35s ease;
        -o-transition: all 0.35s ease;
        transition: all 0.35s ease
    }
    #open-filters.openf {
        right: 256px
    }
    #open-filters.openf i:before {
        content: '\f00d'
    }
    #open-filters span {
        display: none
    }
    .dqdt-sidebar {
        padding: 0 15px;
        position: fixed;
        width: 256px;
        background: #fff;
        top: 0;
        bottom: 0;
        right: 0;
        border-top: solid 1px #bbbbbb;
        border-left: solid 1px #bbbbbb;
        overflow: hidden;
        overflow-y: auto;
        z-index: 9999;
        visibility: hidden;
        -webkit-transition: all 0.35s ease;
        -o-transition: all 0.35s ease;
        transition: all 0.35s ease;
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        transform: translateX(100%)
    }
    .dqdt-sidebar.openf {
        padding-top: 15px;
        visibility: visible;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0)
    }
    .dqdt-sidebar .aside-filter {
        margin-left: 0px
    }
    .title_asd_cls h2 {
        font-size: 20px
    }
    #nav-mobile {
        -webkit-transition: all 0.35s ease;
        -o-transition: all 0.35s ease;
        transition: all 0.35s ease
    }
    #nav-mobile.open_sidebar_menu {
        visibility: visible
    }
    .top-cart-content {
        display: none !important
    }
    .header_search .input-group .form-group {
        padding: 28px 0px !important
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .content-blog-index .myblog .content_day_blog {
        font-size: 12px !important
    }
    .section_prd_sale .products-view-grid-bb {
        border-bottom: 1px solid #ebebeb
    }
}

@media (max-width: 1199px) {
    .section_feed_form .content_owl #block_01 {
        padding-top: 0px
    }
    .header_search {
        height: auto
    }
    .section_feed_form .content_owl .subcribe .footer_top_form_register {
        width: 100%
    }
}

@media (max-width: 767px) {
    .products-view-list .product-box .product-thumbnail {
        width: 100%
    }
    .products-view-list .product-box .product-info {
        width: 100%;
        margin: 0
    }
}

@media (min-width: 1200px) {
    .search_h .search_h:nth-child(4n+1) {
        clear: left
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .search_h .search_h:nth-child(4n+1) {
        clear: left
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .search_h .search_h:nth-child(3n+1) {
        clear: left
    }
}

@media (max-width: 767px) {
    .search_h .search_h:nth-child(2n+1) {
        clear: left
    }
}