.overflow-hidden {
    overflow: hidden
}

.bg_product {
    margin-top: -40px
}

.title-product {
    color: #231f20;
    font-size: 30px;
    line-height: 35px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    display: inline-block;
    float: left;
    margin-right: 30px
}

.imagelarge {
    position: relative;
    display: block
}

@media (min-width: 1200px) {
    .details-pro {
        padding-left: 65px
    }
}

@media (max-width: 767px) {
    .details-product .product-detail-left {
        margin-bottom: 25px
    }
}

.details-product .product-detail-left .slick-slide {
    height: 555px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    border: 1px solid #ebebeb
}

@media (min-width: 768px) and (max-width: 991px) {
    .details-product .product-detail-left .slick-slide {
        height: 690px
    }
}

@media (max-width: 767px) {
    .details-product .product-detail-left .slick-slide {
        height: auto
    }
}

.details-product .product-detail-left .slick-slide img.mx-auto {
    margin: 0 auto;
    width: auto !important;
    height: auto !important
}

.details-product .product-detail-left .slider-big-video .slick-dots {
    text-align: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
    padding: 0
}

.details-product .product-detail-left .slider-big-video .slick-dots li {
    display: inline-block
}

.details-product .product-detail-left .slider-big-video .slick-dots li button {
    border-radius: 4px;
    height: 4px;
    width: 18px;
    border: none;
    background-color: #f5f5f5;
    font-size: 0;
    padding: 0
}

.details-product .product-detail-left .slider-big-video .slick-dots li+li {
    margin-left: 3px
}

.details-product .product-detail-left .slider-big-video .slick-dots li.slick-active button {
    border-color: none;
    background-color: #ef4339;
    border-radius: 4px;
    width: 18px
}

.details-product .product-detail-left .slider-has-video {
    margin: 0 auto
}

.details-product .product-detail-left .slider-has-video .slider-nav .slick-arrow {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 45%;
    display: block;
    width: 30px;
    height: 30px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: #ef4339;
    line-height: 30px;
    text-align: center;
    z-index: 2;
    border-radius: 3px
}

.details-product .product-detail-left .slider-has-video .slider-nav .slick-arrow.slick-prev {
    left: 14px
}

.details-product .product-detail-left .slider-has-video .slider-nav .slick-arrow.slick-prev:before {
    content: "\f053";
    font-family: "Font Awesome\ 5 Free";
    font-weight: 900;
    font-size: 12px;
    color: #fff
}

.details-product .product-detail-left .slider-has-video .slider-nav .slick-arrow.slick-next {
    right: 14px
}

.details-product .product-detail-left .slider-has-video .slider-nav .slick-arrow.slick-next:before {
    content: "\f054";
    font-family: "Font Awesome\ 5 Free";
    font-weight: 900;
    font-size: 12px;
    color: #fff
}

.details-product .product-detail-left .slider-has-video .slider-nav .slick-arrow:hover {
    background: #fff;
    border: 1px solid #ef4339
}

.details-product .product-detail-left .slider-has-video .slider-nav .slick-arrow:hover:before {
    color: #ef4339
}

.details-product .product-detail-left .slider-has-video .slider-nav .slick-next {
    right: 0px !important
}

.details-product .product-detail-left .slider-has-video .slider-nav .slick-prev {
    left: 0px !important
}

.details-product .product-detail-left .slider-has-video .slider-nav .slick-slide {
    height: 123px;
    position: relative
}

@media (max-width: 1024px) {
    .details-product .product-detail-left .slider-has-video .slider-nav .slick-slide {
        height: 93px
    }
}

@media (max-width: 991px) {
    .details-product .product-detail-left .slider-has-video .slider-nav .slick-slide {
        height: 118px
    }
}

@media (max-width: 480px) {
    .details-product .product-detail-left .slider-has-video .slider-nav .slick-slide {
        height: 90px
    }
}

@media (max-width: 376px) {
    .details-product .product-detail-left .slider-has-video .slider-nav .slick-slide {
        height: 81px
    }
}

@media (max-width: 321px) {
    .details-product .product-detail-left .slider-has-video .slider-nav .slick-slide {
        height: 67px
    }
}

.details-product .product-detail-left .slider-has-video .slider-nav .slick-slide img {
    width: auto !important;
    max-height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 0px
}

.details-product .product-detail-left .slider-has-video .slider-nav .slick-slide:hover,
.details-product .product-detail-left .slider-has-video .slider-nav .slick-slide:focus {
    box-shadow: none;
    outline: none
}

.details-product .product-detail-left .slider-nav {
    min-height: 120px
}

@media (max-width: 1024px) {
    .details-product .product-detail-left .slider-nav {
        min-height: 82px
    }
}

@media (max-width: 991px) {
    .details-product .product-detail-left .slider-nav {
        min-height: 72px
    }
}

.details-product .product-detail-left .slider-nav .slick-slide {
    border: 1px solid #e4e4e4;
    margin: 0 10px 20px 10px;
    border-radius: 0px
}

@media (max-width: 767px) {
    .details-product .product-detail-left .slider-nav .slick-slide {
        margin: 0 5px 20px 5px
    }
}

.details-product .product-detail-left .slider-nav .slick-slide.slick-current {
    border-color: #ef4339
}

@media (min-width: 1025px) {
    .details-product .product-detail-left .slider-nav .slick-slide:hover,
    .details-product .product-detail-left .slider-nav .slick-slide:focus {
        border-color: #ef4339;
        outline: none;
        box-shadow: none
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .details-product .product-detail-left .slider-nav {
        margin-bottom: 10px
    }
}

.rte-summary {
    font-family: "Roboto", sans-serif;
    color: #231f20;
    font-size: 14px
}

.rte-summary ul li,
.rte-summary ol li {
    position: relative;
    padding-left: 0px;
    margin-bottom: 0
}

.tab_h {
    padding-bottom: 25px;
    poisiton: relative
}

.product-tab .tabs-title {
    margin-bottom: 0px;
    padding-left: 0px;
    text-align: left;
    border-top: solid 1px #e4e4e4
}

@media (max-width: 767px) {
    .product-tab .tabs-title {
        border-bottom: none
    }
}

.product-tab .tab-link {
    position: relative;
    display: inline-block;
    background: transparent;
    padding: 0;
    padding-right: 65px;
    border-bottom: 0px;
    margin: 0;
    float: left
}

.product-tab .tab-link:last-child {
    padding-right: 0
}

@media (max-width: 767px) {
    .product-tab .tab-link {
        width: 100%;
        border-bottom: solid 1px #ebebeb;
        padding-right: 0
    }
}

.product-tab .tab-link h3 {
    color: #231f20;
    padding: 10px 0px;
    font-size: 16px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    text-transform: uppercase
}

@media (max-width: 767px) {
    .product-tab .tab-link h3 {
        margin: 0px 0px 0px;
        text-align: center;
        font-size: 14px
    }
}

@media (max-width: 767px) {
    .product-tab .tab-link:before {
        font-family: 'Font Awesome\ 5 Free';
        font-weight: 900;
        font-size: 20px;
        color: #fff;
        content: "\f107";
        position: absolute;
        right: 10px;
        top: 0px;
        transition: .3s all
    }
}

@media (max-width: 767px) {
    .product-tab .tab-link.active {
        padding-bottom: 0px
    }
    .product-tab .tab-link.active:before {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg)
    }
    .product-tab .tab-link.active h3 {
        position: relative;
        border-top: 2px solid #ef4339;
        margin-top: -1px
    }
}

@media (min-width: 768px) {
    .product-tab .tab-link.active {
        padding-bottom: 0px
    }
    .product-tab .tab-link.active h3 {
        position: relative;
        border-top: 2px solid #ef4339;
        margin-top: -1px
    }
}

.product-tab .tab-link.current:before {
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    font-size: 24px;
    color: #fff;
    content: "\f106";
    position: absolute;
    right: 0px;
    top: 6px;
    content: none
}

.product-tab .tab-link.current .rte {
    color: #303f39;
    font-weight: 300;
    font-size: 14px;
    border: solid 0px #ebebeb;
    border-top: 0px
}

.product-tab .tab-content {
    padding: 0px
}

.product-tab .tab-content.active .rte {
    border-top: none;
    padding: 5px 0px 60px 0px;
    font-size: 15px;
    font-family: 'Arial', sans-serif
}

.product-tab .tab-content.active .rte p {
    color: #231f20
}

.product-tab .tab-content.active .rte ol,
.product-tab .tab-content.active .rte ul {
    padding-left: 15px
}

@media (max-width: 1199px) {
    .product-tab .tab-content.active .rte {
        padding: 30px 0 60px 0
    }
}

.product-tab .tab-content {
    opacity: 0;
    visibility: hidden;
    height: 0;
    overflow: hidden
}

.product-tab .tab-content.active {
    opacity: 1;
    visibility: visible;
    height: auto
}

#content {
    max-height: 300px;
    overflow: hidden;
    -webkit-transition: height 0.6s linear;
    transition: height 0.6s linear
}

.expand #content {
    max-height: unset !important
}

.expand .read-more:before {
    display: none
}

.read-more {
    position: relative;
    text-align: center
}

.read-more.more {
    padding-top: 15px
}

.read-more:before {
    background-color: rgba(255, 255, 255, 0.6);
    display: block;
    content: "";
    height: 120px;
    position: absolute;
    top: -120px;
    width: 100%;
    left: 0
}

.read-more span {
    width: 134px;
    height: 34px;
    line-height: 31px;
    border: 1px solid #ebebeb;
    color: #4b4b4b;
    display: inline-block;
    font-weight: 400;
    cursor: pointer;
    font-size: 16px;
    border-radius: 3px;
    text-align: center
}

.read-more span i {
    color: #c5c5c5;
    padding-left: 5px
}

.read-more span:hover {
    background: #ef4339;
    border-color: #ef4339;
    color: #fff
}

.read-more span:hover i {
    color: #fff
}

.content_extab {
    opacity: 0;
    visibility: hidden;
    height: 0;
    overflow: hidden
}

.content_extab.current {
    opacity: 1;
    visibility: visible;
    height: auto
}

.slick_margin.slick-slider {
    margin: 0 -15px
}

.slick_margin .slick-slide {
    margin: 0 15px
}

.section_wishlist {
    border-top: 1px solid #e4e4e4;
    padding-top: 10px;
    margin-top: 45px
}

.section_wishlist .title_modules {
    margin-bottom: 15px
}

.section_wishlist .slick_wishlist {
    border: 1px solid #e4e4e4;
    overflow: hidden
}

.section_wishlist .item_product_main {
    border-right: 1px solid #e4e4e4;
    border-left: 0
}

@media (max-width: 991px) {
    .section_wishlist {
        margin-top: 15px
    }
}

.section_wishlist .slick-arrow {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 45%;
    display: block;
    width: 30px;
    height: 30px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: #ef4339;
    line-height: 30px;
    text-align: center;
    z-index: 2;
    border-radius: 3px
}

.section_wishlist .slick-arrow.slick-prev {
    left: 14px
}

.section_wishlist .slick-arrow.slick-prev:before {
    content: "\f053";
    font-family: "Font Awesome\ 5 Free";
    font-weight: 900;
    font-size: 12px;
    color: #fff
}

.section_wishlist .slick-arrow.slick-next {
    right: 14px
}

.section_wishlist .slick-arrow.slick-next:before {
    content: "\f054";
    font-family: "Font Awesome\ 5 Free";
    font-weight: 900;
    font-size: 12px;
    color: #fff
}

.section_wishlist .slick-arrow:hover {
    background: #fff;
    border: 1px solid #ef4339
}

.section_wishlist .slick-arrow:hover:before {
    color: #ef4339
}

.section_wishlist .slick-next {
    right: 0px !important
}

.section_wishlist .slick-prev {
    left: 0px !important
}

@media (min-width: 992px) and (max-width: 1199px) {
    .section_wishlist .item_product_main {
        min-height: 344px
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .section_wishlist .item_product_main {
        min-height: 341px
    }
}

@media (max-width: 767px) {
    .section_wishlist .item_product_main {
        min-height: 260px
    }
}

@media (min-width: 425px) and (max-width: 543px) {
    .section_wishlist .item_product_main {
        min-height: 279px
    }
}

@media (min-width: 375px) and (max-width: 424px) {
    .section_wishlist .item_product_main {
        min-height: 254px
    }
}

@media (max-width: 374px) {
    .section_wishlist .item_product_main {
        min-height: 240px
    }
}

@media (min-width: 1200px) {
    .section_wishlist .item_product_main .image_thumb {
        height: 198.8px
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .section_wishlist .item_product_main .image_thumb {
        height: 204px
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .section_wishlist .item_product_main .image_thumb {
        height: 201px
    }
}

@media (min-width: 544px) and (max-width: 767px) {
    .section_wishlist .item_product_main .image_thumb {
        height: 190px
    }
}

@media (min-width: 425px) and (max-width: 543px) {
    .section_wishlist .item_product_main .image_thumb {
        height: 180px
    }
}

@media (min-width: 375px) and (max-width: 424px) {
    .section_wishlist .item_product_main .image_thumb {
        height: 155px
    }
}

@media (max-width: 374px) {
    .section_wishlist .item_product_main .image_thumb {
        height: 128px
    }
}