*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: linear-gradient(to bottom,#68EACC 0%, #497BE8 100%);
    background-repeat: no-repeat;
    height: 100vh;
}
div{
    color: deeppink;
    text-align: center;
    margin-top: 400px;
}
div button{
    margin-top: 10px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 10px;
    padding:10px;
    outline: none;
}