@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Poppins', sans-serif; */
}
/*note
    -respon : 1360px, 1550px
*/
/*Header*/
.header__wrap {
    font-size: 15px;
    color: #fff;
    background-color: #e74c3c;
    overflow:hidden;
    padding: 15px 0px;
}
.header__wrap--p1 {
    float: left;
}
.header__wrap--p1e {
    display: flex;
    align-items: center;
}
.header__logo img{
    /* width: 80px;
    height: 80px; */
    margin-left: 200px;
    float: left;
    display:block;
}
.logo {
    width: 80px;
    height: 80px;
}
.header__search {
    margin-left: 50px;
    margin-right: 50px;
    width: 800px;
    display: block;
}
.header__search--list { /* chinh sua */
    display:flex;
    height: 35px;
    align-items: center;
}
.header__search-droplist {
    display: block;
    /* display: inline-block; */
    width:17.64%;
}

.header__search-droplist .select {
    cursor: pointer;
    max-width: 50px;
    padding: 7.5px;
    border-radius: 5px 0px 0px 5px;
    color: black;
    background-color: white;
    text-decoration: none;
}

.select i {
    color: #e74c3c;
}

.drop {
    display: none;
    position: absolute;
    margin-top: 9px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    /* transition:0.5 ; */
}

.drop a {
    color: black;
    padding: 9.3px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    /* transition: 0.5 ; */
}

.drop a:hover{
    background-color: #e74c3c;
}

/* .header__search-droplist:hover .drop {
    display: block;
} */

.header__search input { /* chinh sua */
    padding: 0px 0px 0px 10px;
    width: 80%;
    height: 100%;
    outline: none;
}

.btn {
    cursor: pointer;
    height: 100%;
    padding: 0px 10px 0px 10px;
    border-radius: 0px 5px 5px 0px;
    outline: none;
    border: none;
    color: #fff;
    background-color: #b8332c;
}

.header__search .btn:active{
    background-color: #e74c3c;
} 

.header__hotline {
    font-size: 16px;
    margin-right: 25px;
}

.header__hotline span { /* chinh sua */
    color: black;
    cursor: pointer;
}

.header__account {
    cursor: pointer;
    font-size: 16px;
    margin-right: 25px;
}

/* .header__account:hover{
    background-color: black;
} */

.header__account--option {
    display: none;
    position: absolute;
    background-color: #fff;
    color: red;
    width: 150px;
    height: 70px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.header__account--option::before {
    content: "";
    width: 0;
    height: 0;
    margin-top: -10px;
    margin-left: 40px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    display: none;
    z-index: 1;
}
.header__account:hover .header__account--option,.header__account--option::before{
    display: block;
}

.header__account--option a{
    color: black;
    margin-left: 10px;
    padding: 5px;
    text-decoration: none;
    font-weight: 500;
    display: block;
}

.header__account--option a:hover {
    color: #b8332c;
}

.header__cart {
    cursor: pointer;
    font-size: 16px;
}

.cart--count {
    background-color: #caca20;
    color: black;
    width: 17px;
    height: 17px;
    border-radius: 50px;
    position: absolute;
    margin-top: -30px;
    margin-left: 10px;
    text-align: center;
}
.cart--count span {
    font-size: 10px;
    font-weight: 700;
    color: #e74c3c;
    display: block;
}

.header__cart--list {
    display: none;
    position: absolute;
    background-color: #fff;
    color: red;
    width: 300px;
    /* height: 70px; */
    margin-top: 10px;
    margin-left: -200px;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.header__cart--list::before {
    content: "";
    display: none;
    width: 0;
    height: 0;
    margin-top: -10px;
    margin-left: 200px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    z-index: 1;
}

.header__cart:hover .header__cart--list,.header__cart--list::before{
    display: block;
}

.header__cart--item {
    margin-left: 20px;
    width: 270px;
    /* height: 150px; */
    display:flex;
    align-items:center;
}

.header__cart--item img{
    width: 80px;
    height: auto;
}

.item--info span:nth-child(1){
    font-size: 14px;
    color: black;
}
.item--info span:nth-child(2){
    font-size: 14px;
}
.item--quantity {
    display: flex;
}
.quantity {
    /* font-size: 15px; */
    /* padding: 10px; */
    text-align: center;
    width: 40px;
    height: 25px;
    border: 1px solid black;
    outline: none;
}

.item {
    padding: 3px 10px 3px 10px;
    border-radius: 0;
}

.item:hover {
    color: #e74c3c;
}

.item:active {
    background-color: #e74c3c;
}

.cart__list--pay {
    /* text-align: center; */
    width: 230px;
    border-top: 1px solid black;
    margin-left: 35px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.cart__list--pay span:nth-child(1) {
    float: left;
}

.cart__list--pay span:nth-child(2) {
    float:right;
}

.pay {
    width:100%;
    border-radius: 5px;
    padding: 10px;
    font-weight: 500;
    font-size: 14px;
}
/*responsive navbar*/
.head__navbarrespon--bars, .head__navbarrespon--cart {
    display: none;
}
@media screen and (max-width: 1550px) {
    .header__search {
        margin-left: 10px;
    }
    .header__logo img {
        margin-left: 50px;
    }
}
@media screen and (max-width: 1360px) {
    .header__search, .header__hotline, .header__account, .header__cart{
        display: none;
    }
    .header__logo img{
        width:50px;
        height:50px;
        margin-left: 25px;
    }
    .head__navbarrespon--cart {
        cursor: pointer;
        display: block;
        font-size: 20px;
        padding: 10px 15px;
        float: right;
    }
    .head__navbarrespon--bars {
        cursor: pointer;
        display: block;
        font-size: 20px;
        padding: 10px 15px;
        float: right;
        transition: all .1 ease;
    }
    .head__navbarrespon--bars:active {
        background-color: black;
        transition: all .1s ease;
    }
    /* .bar {
        transition-name: bars;
        trasitions: all .2s ease-out;
    } */
}

.navbarrespon-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    animation: overlay linear .3s;
    display:none;
}
/************************************************************************************************/
.header__user{
    position: absolute;
    width: 100%;
    height:80px;
    background-color:#e74c3c;
    display: flex;
    align-items: center;
    /* overflow: hidden; */
}
.close {
    font-size: 30px;
    left: 10px;
    float:right;
    margin-right: 10px;
}
/*info user*/
/* .user__info{
    float: left;
} */
.user__info--table{
    display:flex;
    /* align-items: center; */
}
/*end info user*/
.header__navbarrespon {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width:320px;/*320px*/
    max-width: 100%;
    background-color: #fff;
    transform: translateX(100%);
    transition: transform linear .3s;
}
.header__navbarrespon--list{
    color: black;
    list-style-type: none;
    padding-left: 15px;
    /* margin-top: 50px; */
    font-weight: 600;

}
.header__navbarrespon--list a{ /*responsive__nav-list*/
    text-decoration: none;
    font-size: 15px;
    color:#e74c3c
    /* font-weight: 700; */
}

.nav__check:checked ~ .header__navbarrespon{
    transform: translateX(0%);
}
.nav__check:checked ~ .navbarrespon-overlay{
    display: block;
}
@keyframes overlay{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.header__navbarrespon--list span i{
    color: #e74c3c
}
.rotage0{
    transform: rotate(180deg);
}
.responsive__nav--list {
    display: none;
    /* position: absolute; */
    background-color: #fff;
    min-width: 160px;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 1;
}
.responsive__nav--list li{
    list-style-type: none;
    padding-left: 20px;
}
.show{
    display: block;
}

/*End header*/